
<br>
<br><br>
<br>
    <center><img src="post1901.jpg" style="width:50%; height: 350px;"></center> 
   
  
  
<br>
<br>




<!--<center><button style="width: 20%;background-color: #BE81F7;height:50px;" ng-show="!main.isLoggedIn" href="/dashboard"><h4>Take a survey</h4></button></center>-->
  <form class="form-signin" >
  <center><button class="btn btn-lg btn-primary btn-block btn-signin" ng-show="!main.isLoggedIn" style="width: 30%" onclick="window.location='/survey';">Take a survey</button></center>
  <!--<center><a href="/dashboard" class="btn btn-lg btn-primary btn-block btn-signin" ng-show="!main.isLoggedIn" style="width: 30%;height: %;" >Take a survey</button></a> </center>
<center>
<button class="btn btn-lg btn-primary btn-block btn-signin" style="width: 30%" type="submit"><a  ng-show="!main.isLoggedIn" href="/dashboard"  title="Take a survey" >Take a survey</a></button></center>-->
</form>


<br>
<br>
<br>
<br>
<br>
<br>





