  <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" ng-submit="main.doLogin(loginData);">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="username"  class="form-control" placeholder="Username" ng-model="main.loginData.username" required autofocus>
                <br>
                <input type="password" ng-model="main.loginData.password" class="form-control" placeholder="Password" required>
            
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
           
          
<br>

        </div><!-- /card-container -->
    </div><!-- /container -->
<br><br> <br>
<br><br> <br>






  
  
 


